.calc{
    height: 400px;
    width: 600px;
    background-color: gray;
    margin-left: 400px;
}
#screen{
    height: 50px;
    width: 80%;
    margin-top: 27PX;
    margin-left: 48px;
    pointer-events: none;
}
.btn{
    width: 81px;
    height: 30px;
    margin-left: 49px;
    margin-top: 27px;
    background: bisque;
}